@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Buenos Aires Trial";
  src: url("./assets/fonts/BuenosAiresTrial-Regular.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Buenos Aires Trial";
  src: url("./assets/fonts/BuenosAiresTrial-Bold.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
}

